@charset "utf-8";

// If need, change your variables before importing Bulma
$title-color: #fff;
$title-line-height: 1.125;

$navbar-background-color: #000;
$navbar-item-color: #fff;
$navbar-item-active-color: #37b7d2;
$navbar-item-hover-background-color: #000;
$navbar-item-hover-color: #37b7d2;

$tag-background-color: #37b7d2;
$tag-color: #fff;
$tag-radius: 10px;

$tabs-border-bottom-color: rgb(61, 59, 59);
$tabs-toggle-link-active-color: red;
$tabs-link-active-color: #000;
$tabs-link-color: #fff;
$tabs-boxed-link-radius: 10px;
$tabs-boxed-link-hover-background-color: transparent;
$tabs-boxed-link-active-background-color: #fff;
$progress-value-background-color: #37b7d2;

$section-padding: 1rem 1rem;

$footer-background-color: #16181c;

$pagination-color: #fff;
$pagination-hover-color: #37b7d2;

@import "~bulma/bulma.sass";
