.showborder {
  border-width: 3px;
  border-style: solid;
  border-color: yellowgreen;
}

.movetocenter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.generic-background {
  background-color: #1b1c1f;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*nav*/

.navbar-brand {
  padding-left: 0.75rem;
}

.nav-logo {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
  font-family: Roboto;
}

.nav-tag {
  color: #37b7d2;
  font-size: 1.4rem;
  font-weight: 800;
  font-family: Roboto;
}

.ug {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.text {
  font-size: 0.8rem;
  text-align: center;
  margin-top: -15px;
}

/*upperrow*/

@media screen and (min-width: 992px) {
  .upper-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }
}

@media screen and (max-width: 992px) {
  .upper-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
  }
}

.section-topic-picks {
  color: #494b50;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  display: inline-block;
}

.date-name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

/*hero*/
.heroban {
  background-color: #1b1c1f;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-bg {
  background-color: #191b1f;
  min-height: 60vh;
}

.center-logo {
  text-align: center;
}

.slash {
  font-size: 0.3em;
  color: #37b7d2;
}

/*Recent*/

/*iso*/
@media screen and (min-width: 992px) {
  .feed-text {
    font-weight: 800;
    font-family: Roboto;
    letter-spacing: 3px;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .feed-text {
    font-size: 0.8em;
    font-weight: 800;
    font-family: Roboto;
    letter-spacing: 3px;
  }
}

/*iso*/
@media screen and (min-width: 992px) {
  .linear-wipe {
    position: relative;
    font-family: Roboto;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #37b7d2);
    background-repeat: no-repeat;
    background-size: 90%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .linear-wipe {
  }
}

@keyframes animate {
  0% {
    background-position: -450%;
  }
  100% {
    background-position: 450%;
  }
}

.recent {
  padding-top: 10px;
  color: #fff;
}

/*iso*/
@media screen and (min-width: 992px) {
  .filter {
    padding-top: 10px;
    color: #fff;
    font-weight: 650;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .filter {
    display: none;
  }
}

/*iso*/
@media screen and (min-width: 992px) {
  .recent-bg {
    background: rgb(25, 27, 31);

    font-size: 0.8rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    width: 100%;
  }
}

.outer-tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
/*pieni*/
@media screen and (max-width: 992px) {
  .selectors {
    margin-top: 10px;
    width: 100vw;
  }
}

/*iso*/
@media screen and (min-width: 992px) {
  .selectors {
    margin-top: 35px;
    height: 100%;
  }
}

.loading-spinner {
  margin-top: 50px;
}

.loading-screen {
  margin-top: 30px;
  color: #37b7d2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.loading-screen-h2 {
  text-align: center;
}

/*pieni*/
@media screen and (max-width: 992px) {
  .recent-bg {
    background-color: #1b1c1f;
    font-size: 0.8rem;
    width: 100vw;
  }
}

/*iso*/
@media screen and (min-width: 992px) {
  .flex-bg {
    width: 700px;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .flex-bg {
  }
}

/*iso*/
@media screen and (min-width: 992px) {
  .recent-flex {
    margin-left: 4px;
    margin-right: 4px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .recent-flex {
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
  }
}

/*category frame*/

.category-frame {
  text-align: center;
  font-family: Roboto;
  font-size: 1.3rem;
  background-color: #1b1c1f;
}

.category-item {
  padding-top: 10px;
  color: #37b7d2;
}

/*items*/

.item {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 17px;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(31, 33, 36, 1);
}

.hide {
  display: none;
}

.title-gh {
  font-family: Roboto;
  color: #cbcbcb;
  font-weight: 500;
  margin-bottom: 5px;
}

/*tags*/
.tags-gh {
  font-family: "Roboto";
  font-weight: 400;
  margin-right: 5px;
}

.tag-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.published-gh {
  font-family: Roboto;
  color: #fff;
}

.date-post {
  color: rgb(211, 202, 202);
  font-weight: 600;
  text-align: end;
}
.date-flex {
}

/*url-gh*/
@media screen and (min-width: 992px) {
  .url-gh {
    font-family: Roboto;
    font-size: 0.7em;
    margin-left: 5px;
    font-style: italic;
  }
}

@media screen and (max-width: 992px) {
  .url-gh {
    font-family: Roboto;
    font-size: 0.7em;
    margin-bottom: 5px;
    font-style: italic;
  }
}

/*upperrow*/

@media screen and (min-width: 992px) {
  .upper-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }
}

@media screen and (max-width: 992px) {
  .upper-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
  }
}

.bottom-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

/*Daily Stream*/
.daily-title {
  font-weight: 700;
  color: #fff;
  padding-bottom: 10px;
}

.section-topic {
  margin-top: 30px;
  color: #494b50;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  display: inline-block;
}

.tool-name {
  font-weight: 400;
  color: #cbcbcb;
  padding-bottom: 10px;
}

.packaged {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.flexed {
  width: 100%;
}

.tool-text {
  color: #eeeeee;
}

.tool-text2 {
  color: #00d1b2;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 200;
  font-style: italic;
}

.date {
  font-weight: 600;
}

.date-button-score {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

/*tjffj*/

.list-items {
  padding: 10px 20px;
}

/*signup*/
.signup-bg-1 {
  background-color: #1b1c1f;
  height: 130vh;
}

.signup-bg {
  color: #fff;
  background-color: #1b1c1f;
  height: 100vh;
}

.sign-up-header {
  font-weight: 800;
  font-family: Roboto;
}
.sign-up-header2 {
  margin-top: 20px;
  font-family: Roboto;
}

.sign-up-box {
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .signupwidth {
    width: 600px;
  }
}

@media screen and (max-width: 992px) {
  .signupwidth {
  }
}

/*Blog*/

@media screen and (min-width: 992px) {
  .main-blog {
    font-family: Roboto;
    font-size: 1.3em;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 992px) {
  .main-blog {
    font-family: Roboto;
    font-size: 1.2em;
    margin-bottom: 40px;
  }
}

/*Error*/

.error {
  font-size: 3rem;
  font-family: Permanent Marker;
  background-color: #1b1c1f;
  height: 80vh;
  text-align: center;
  padding: 70px 0;
  color: #fff;
}

.error-bg {
  background-color: #1b1c1f;
}

/*Footer*/

.footer-style {
  font-family: Roboto;
  font-size: 1.1rem;
  color: #fff;
}

.icons-footer {
  margin-top: 10px;
}

.middle-footer {
  margin-top: 20px;
}

.bottom-footer {
  margin-top: 40px;
  font-weight: 700;
}

.privacy-footer {
  margin-top: 40px;
  font-weight: 500;
}

/*index page next button*/

.index-next {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.pagination-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.index-next-div {
  max-width: 300px;
  margin-bottom: 40px;
}

html,
body {
  overflow: visible;
}
