.showborder {
  border-width: 3px;
  border-style: solid;
  border-color: red;
}

.movetocenter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/*nav*/

.navbar-brand {
  padding-left: 0.75rem;
}

.nav-logo {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
  font-family: Roboto;
}

.nav-tag {
  color: #37b7d2;
  font-size: 1.4rem;
  font-weight: 800;
  font-family: Roboto;
}

.ug {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.text {
  font-size: 0.8rem;
  text-align: center;
  margin-top: -16px;
}

/*upperrow*/

@media screen and (min-width: 992px) {
  .upper-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }
}

@media screen and (max-width: 992px) {
  .upper-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
  }
}

/*hero*/
.heroban {
  background-color: #1b1c1f;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item-bg {
  background-color: #191b1f;
  min-height: 60vh;
}

.center-logo {
  text-align: center;
}

.slash {
  font-size: 0.3em;
  color: #37b7d2;
}

/*Recent*/

.recent {
  padding-top: 10px;
  color: #fff;
}

/*iso*/
@media screen and (min-width: 992px) {
  .filter {
    padding-top: 10px;
    color: #fff;
    font-weight: 650;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .filter {
    display: none;
  }
}

/*iso*/
@media screen and (min-width: 992px) {
  .recent-bg {
    background-color: #1b1c1f;
    font-size: 0.8rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .recent-bg {
    background-color: #1b1c1f;
    font-size: 0.8rem;
  }
}

/*iso*/
@media screen and (min-width: 992px) {
  .flex-bg {
    width: 700px;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .flex-bg {
  }
}

/*iso*/
@media screen and (min-width: 992px) {
  .recent-flex {
    margin-left: 4px;
    margin-right: 4px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
  }
}

/*pieni*/
@media screen and (max-width: 992px) {
  .recent-flex {
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
  }
}

/*category frame*/

.category-frame {
  text-align: center;
  font-family: Roboto;
  font-size: 1.3rem;
  background-color: #1b1c1f;
}

.category-item {
  padding-top: 10px;
  color: #37b7d2;
}

/*items*/

.item {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 17px;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(31, 33, 36, 1);
}

.hide {
  display: none;
}

.title-gh {
  font-family: Roboto;
  color: #cbcbcb;
  font-weight: bold;
}

/*tags*/
.tags-gh {
  font-family: "Roboto";
  font-weight: 600;
  margin-right: 5px;
}

.tag-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.published-gh {
  font-family: Roboto;
  font-size: 0.7em;
  margin-top: 5px;
}

/*url-gh*/
@media screen and (min-width: 992px) {
  .url-gh {
    font-family: Roboto;
    font-size: 0.7em;
    margin-left: 5px;
    font-style: italic;
  }
}

@media screen and (max-width: 992px) {
  .url-gh {
    font-family: Roboto;
    font-size: 0.7em;
    margin-bottom: 5px;
    font-style: italic;
  }
}

/*upperrow*/

@media screen and (min-width: 992px) {
  .upper-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }
}

@media screen and (max-width: 992px) {
  .upper-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
  }
}

.bottom-row {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

/*tjffj*/

.list-items {
  padding: 10px 20px;
}

/*signup*/
.signup-bg-1 {
  background-color: #1b1c1f;
  height: 130vh;
}

.signup-bg {
  color: #fff;
  background-color: #1b1c1f;
  height: 100vh;
}

.sign-up-header {
  font-weight: 800;
  font-family: Roboto;
}
.sign-up-header2 {
  margin-top: 20px;
  font-family: Roboto;
}

.sign-up-box {
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .signupwidth {
    width: 600px;
  }
}

@media screen and (max-width: 992px) {
  .signupwidth {
  }
}

/*Blog*/

@media screen and (min-width: 992px) {
  .main-blog {
    font-family: Roboto;
    font-size: 1.3em;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 992px) {
  .main-blog {
    font-family: Roboto;
    font-size: 1.2em;
    margin-bottom: 40px;
  }
}

/*Error*/

.error {
  font-size: 3rem;
  font-family: Permanent Marker;
  background-color: #1b1c1f;
  height: 80vh;
  text-align: center;
  padding: 70px 0;
  color: #fff;
}

.error-bg {
  background-color: #1b1c1f;
}

/*Footer*/

.footer-style {
  font-family: Roboto;
  font-size: 1.1rem;
  color: #fff;
}

.icons-footer {
  margin-top: 10px;
}

.middle-footer {
  margin-top: 20px;
}

.bottom-footer {
  margin-top: 40px;
  font-weight: 700;
}

.privacy-footer {
  margin-top: 40px;
  font-weight: 500;
}
